# Files excluded from `git archive` (i.e. from `composer build` release zip).
/.editorconfig    export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/.vscode/         export-ignore
/composer.json    export-ignore
/composer.lock    export-ignore
/phpcs.xml.dist   export-ignore
/renovate.json    export-ignore
